*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: flex-end;
    background-color: black;
    color: white;
    height: 20px;
}
main{
    background-color: black;
    height: calc(100vh - 120px);
    overflow: auto;
}
footer{
    background-color: rgb(30, 28, 28);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: #fff;
}

.mini-box{
    background-color: gray;
    border-radius: 5px;
    padding: 3px;
    margin-left: 10px;
}
.container{
    max-width: 1500px;
    margin: 0 auto;
}
.row{
    display: flex;
    row-gap: 20px;
    column-gap: 10px;
    flex-wrap: wrap;
}
.column{
    flex-basis:calc(100% / 7 - 70px);
    min-height: 100px;
}
.card{
    position: relative;
    border: 1px solid #fff;
}
.mic{
    color: white;
    position: absolute;
    bottom: 10px;
    left: 0;
    background-color: rgba(128, 128, 128, 0.6);
    padding: 4px;
}
.footer-left{
    display: flex;
    flex-grow: 1;
    position: relative;
}
.first-f-l-l{
    flex-grow:0.2 ;
}
.first-f-l-r{
    flex-grow:1 ;
}
.footer-center{
    flex-grow: 2;
    display: flex; 
    justify-content: space-evenly;
    position: relative;
}
.footer-right{
    flex-grow: 1;
    display: flex;
    height: 60px;
    flex-direction: row-reverse;
    align-items:center;

}
.icons{
    font-size: 40px;
    text-align: center;
}
.up-arrow{
    position: absolute;
    top: 50%;
    right: 83%;
    transform: translate(0 , -50%);
}
.up-arrow2{
    position: absolute;
    top: 50%;
    right: 60%;
    transform: translate(0 , -50%);
}
.up-arrow3{
    position: absolute;
    top: 50%;
    right: 45%;
    transform: translate(0 , -50%);
}
.end-meeting{
    background-color: rgba(128, 128, 128, 0.6);
    padding: 40px;
    color: red;
}
#margin-left-participants{
    margin-left: 45px;
}
#margin-left-s-screen{
    margin-left: 23px;
}
.green{
    color: lime;
}